.navbar{
	border-radius: 0px;
	background-color: grey;
}

.navbar-brand{
  font-size: 35px;
  color: black;
  padding-left: 25px;
}

.navbar-nav{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid black;
}

.icon-bar{
	background-color: black;
}


.nav-menu-item{
	width: 100%;
    color: grey;
	background-color: white;
	border-bottom: 2px solid black;
	display: block;
    padding: 0;
	margin: 0;
}

.nav-menu-item:hover{
	color: black;
}


.title{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
  }

.row{
	margin: 20px;
}

.menu-item-box{
	width: auto;
	height: auto;
	color: black;
	background-color: grey;
	padding: 20px;
    margin: 20px;
}

.menu-item-name{
    font-size: 25px;
	font-weight: bold;
	text-align: center;
}
